@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
/**{outline: 1px solid red;}*/
body{font-family: 'Titillium Web', sans-serif;}


.section-info {width: 100%; height: 100vh;}
.section-info h2{color: rgb(197,36,26); text-transform: uppercase;}
.section-info .imagen{padding-right: 0px; padding-left: 0px;}
.section-info img{width: 100%; height: 100vh;}
.section-info .text{ height: 100vh; background: #eee; padding: 13.5% 4% 0;}

@media (max-width: 991px){
	.section-info .text{padding: 6% 3% 0;}
}
@media (max-width: 767px){
	.section-info .text{padding: 5% 3% 0; height: 460px;}
	.section-info img{width: 100%; height: 600px;}
}
